.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.search-form input {
    width: 272px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
}

.search-form input:hover {
    border-color: #000;
}

.search-form input:focus {
    border-color: #e26363;
}

.search-form input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #808080;
}

.search-form button {
    width: 75px;
    height: 40px;
    background-color: #e26363;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #6c8cff;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    margin: 0 auto;


}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 30px;
}

.gallery a {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(231, 199, 199);
    border-radius: 5%;
}

.gallery-list img {
    width: 360px;
    height: 200px;
    display: block;
    border-radius: 5%;
}

.info {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.info p {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #e26363;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.load-more-btn {
    font-size: 15px;
    font-weight: 600;
    width: 125px;
    height: 40px;
    color: #fff;
    border-radius: 8px;
    outline: none;
    border: none;
    background: #e26363;
    transition: background 0.2s ease-in-out;
    margin: 32px 0;

}

.load-more-btn:hover {
    background: #6c8cff;
}

body {
    height: 2000px;
}

#scroll-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg, #f87719, #ff0000);
    color: white;
    font-size: 25px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
    padding-bottom: 5px;
}

#scroll-up.visible {
    opacity: 1;
}

/*Scrolbar Özelleştirme*/
/* Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #f87719, #ff4500);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff4500, #f87719);
}

::-webkit-scrollbar-button {
    display: none;
    /* Ok butonlarını gizle */
    width: 0;
    height: 0;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #f87719 #111;
}